@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.heading-1 {
  @apply text-[35px] font-semibold leading-tight lg:text-[55px] xl:text-[70px];
}
.heading-2 {
  @apply text-[27px] font-semibold leading-tight lg:text-[39px] xl:text-[45px];
}
.heading-3 {
  @apply text-[23px] font-semibold leading-tight lg:text-[29px] xl:text-[37px];
}
.heading-4 {
  @apply text-[17px] font-semibold leading-tight lg:text-[21px] xl:text-[30px];
}
.heading-5 {
  @apply text-[17px] font-semibold leading-tight lg:text-[21px] xl:text-[25px];
}
.sub-text {
  @apply text-[15px];
}
.sub-heading {
  @apply font-semibold uppercase leading-tight;
}
.body-text {
  @apply text-[#939598];
}
